[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
twisted = "*"
prometheus-client = {editable = true,git = "https://github.com/vladvasiliu/client_python.git"}

[requires]
python_version = "3.7"
