-i https://pypi.org/simple
-e git+https://github.com/vladvasiliu/client_python.git@93c8f236707096f38cd15800799a5e64e079461a#egg=prometheus-client
attrs==19.1.0
automat==0.7.0
certifi==2019.3.9
chardet==3.0.4
constantly==15.1.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
pyhamcrest==1.9.0
requests==2.21.0
six==1.12.0
twisted==18.9.0
urllib3==1.24.1
zope.interface==4.6.0
